[2022-06-14 16:42] craigpastro opened #25 "Generate TLS keys in code for openfga_tls_test"
As opposed to storing constants of keys in the test.

[2022-06-15 20:58] noinarisak opened #30 "Page not found in the Next Step section of the README."
In the `Next Step` section of the READ, the [Add authentication](https://openfga.dev/intro/setup-openfga#configuring-authentication) goes to 404.

[2022-06-16 18:02] #30 closed

[2022-06-16 23:45] jon-whit opened #44 "feat: add a `migrate` target command to run database schema migrations"
It would be nice if we added a `migrate` command to our CLI that runs database schema migrations so that developers can migrate up to the latest schema for a given release of OpenFGA.

[code]

Examples:
- `openfga migrate --datastore-engine postgres --datastore-uri postgres://localhost:5432` - migrates up to the latest "HEAD" revision of the database schema for postgres

- `openfga migrate --datas

[2022-06-17 19:23] matthewpereira commented on #44
This looks good to me. Thanks for writing it up!

[2022-06-21 14:44] adriantam opened #64 "feat: allow specifying CORS AllowedOrigins"
Currently, openfga hard coded CORS Allowed Origins to be []string{"*"}.  It should be possible to allow specifying the allowed origins to be a more restrictive value.

[2022-06-22 22:10] #25 closed

[2022-06-26 19:57] dblclik opened #73 "feat: Reject tuple input with direct relationship if not allowed instead of writing"
Currently, a `WriteCommand` (ref: `server/commands/write.go`) with a tupleset that is not valid because of attempting to write a `DirectUserset` (ref: `openfga/v1/authzmodel.proto` in [openfga/api](https://github.com/openfga/api)) is not rejected as invalid.  This tupleset does not cause an invalid authorization check (which is great), but it does create two potential pain points with users:

1. S

[2022-06-26 20:19] dblclik commented on #73
I am hoping to try and implement the resolution to this (even just to get more hands on if not accepted), but am not against this being picked up by someone more comfortable with the openfga code base.

[2022-06-27 13:59] MidasLamb opened #74 "gRPC server not accessible outside of docker"
Currently, the gRPC server is exposed on port 8081, however that is only bound to localhost (and thus only reachable within the docker container itself, and not from the outside).
The docker image itself exposes port 8081, so it seems that it would be the intention that the gRPC server itself is bound to `0.0.0.0:8081` rather than `localhost:8081`.
It might be nice that this is configurable throug

[2022-06-27 15:01] jon-whit commented on #74
@MidasLamb you are right. We plan on changing this so that you can provide a server bind address that the HTTP and grpc servers start up on. That will be configurable. I'll keep this open and cross reference the PR so you can track progress on that.

Thanks for reporting this, it helps us prioritize this work a bit 👍🏻.

[2022-06-27 18:28] #74 closed

[2022-06-27 18:44] jon-whit opened #76 "ci: add `.goreleaser-nightly.yaml` manifest for nightly releases"
It would be nice to get nightly releases of the `main` branch so that each new day a developer can run the latest software on the `main` branch. We should add a `.goreleaser-nightly.yaml` manifest specifically for nightly releases.

Design goals:
* A nightly release should only build and publish a new container image (e.g. `openfga/openfga:nightly`). No Github releases, Homebrew packages, etc..
*

[2022-06-27 20:03] jon-whit opened #81 "add support to enable/disable the HTTP (gateway) API"
If you only want to run OpenFGA's grpc server you should be able to disable the HTTP API (grpc to http/json transcoding gateway).

To add this support we should:
* Introduce a configuration `OPENFGA_HTTP_ENABLED`
* If `OPENFGA_HTTP_ENABLED=true` then we initialize and start the HTTP server, otherwise we skip it.

[2022-06-29 15:37] jon-whit opened #85 "support grpc health spec and register HTTP gateway `/healthz` with it"
The grpc protocol has a [Health Check Specification](https://github.com/grpc/grpc/blob/master/doc/health-checking.md) that we should be following. We should register the grpc health check endpoints as part of the OpenFGA grpc server, and with the HTTP gateway we can use [runtime.WithHealthzEndpoint](https://pkg.go.dev/github.com/grpc-ecosystem/grpc-gateway/v2@v2.10.3/runtime#WithHealthzEndpoint) t

[2022-06-30 02:13] dblclik commented on #73
@adriantam - I think I've got my plan in order and will begin tomorrow, but wanted to put the idea down here to get any feedback or cautions.

As I see it, there are 4 scenarios in which direct assignment should be permitted
1. `this:{}`
2. When `this:{}` is on side of a `difference` (originally I thought this should be `base` only, but if it is in the `subtract` it still means that it could be di

[2022-06-30 19:50] #85 closed, assigned to jon-whit

[2022-06-30 20:41] #81 closed

[2022-07-04 12:45] Singha2 opened #89 "Enterprise support for OpenFGA in production"
Hi Auth0 Team, is there any enterprise support model available for OpenFGA ? I have been following Auth0 - FGA SaaS since quite sometime, it seems OpenFGA has most of its feature other than UI. FGA-SaaS is available only under developer preview mode, while OpenFGA can be hosted on-prem and used in production by any enterprise. I am very much interested to know if there is any support model availab

[2022-07-04 18:53] aaguiarz commented on #89
Hi @Singha2

We are not currently planning to offer enterprise support for OpenFGA, but we've heard that request from customers so it's something we are considering.

We plan to enable customers to use Auth0 FGA in production around the end of October.

[2022-07-05 20:42] jon-whit commented on #89
I'm going to transfer this issue to our [OpenFGA Community](https://github.com/openfga/community) repository.

[2022-07-07 17:31] jon-whit opened #91 "wire up CLI flags in addition to server configuration in `config.yaml`"
The functional tests in #83 launch a container for OpenFGA to test against, and I want to be able to launch the container with specific config but without having to construct a config.yaml in the automation. I'd like to be able to run openfga with, for example,

[code]
and
[code]

Since we have the CLI it'd be nice to make these flags as part of our CLI in addition to be configurable by `config.ya

[2022-07-09 02:08] thisisxvr opened #94 "Unable to connect to an Azure-hosted Postgres instance"
I'm experimenting with connecting OpenFGA to an Azure managed Postgres instance by running the OpenFGA docker container locally, and passing the `postgres://` connection URI as the `OPENFGA_DATASTORE_CONNECTION_URI` env var. I've verified that I can connect to the Postgres instance through other means, but when I make a cURL request to create a new store in OpenFGA I get the following error:

[cod

[2022-07-09 03:04] craigpastro commented on #94
Hi @thisisxvr! I think the problem here is that your Postgres instance does not have the required tables created yet. The ability to create the tables using the cli is in an upcoming PR (https://github.com/openfga/openfga/pull/56).

For the moment, the schema can be found https://github.com/openfga/openfga/blob/main/storage/postgres/migrations/20220617_initialize_schema.up.sql, so if you can execu

[2022-07-09 03:12] thisisxvr commented on #94
@craigpastro You are correct; I ran the schema and it worked. Thanks for the quick response!

[2022-07-09 03:12] #94 closed

[2022-07-11 22:01] dblclik commented on #73
@adriantam @rhamzeh - hey all, apologies it has been a couple of weeks.  I finally had some time today and added in the changes to my branch in my [fork](https://github.com/dblclik/openfga/tree/feat/reject-direct-if-only-indir-allowed).  Everything except for unit tests has been completed (I've done extensive testing via the local playground and all appears to be in order).

When I ran `go test ./

[2022-07-11 22:49] jon-whit commented on #73
@dblclik The server tests are in `server/server_test.go`. The `server/test` package defines shared tests (not test functions) that can be used for different storage implementations and they are publicly exported tests that can be used externally for services that embed OpenFGA as a server.

If you just want to run the server tests directly you can run the following command `go test -v ./server/...

[2022-07-11 23:07] dblclik commented on #73
@jon-whit - perfect, thank you, that seems to work (and means my earlier run of `go test ./...` included it 🙌 ).

I will work on adding tests for the new functionality, but can at least confirm that my additions have not broken anything prior :phew:

[2022-07-12 22:56] jon-whit opened #101 "feat(listObjects): ListObjects API Proposal"
# ListObjects API Proposal

**Roadmap Issue**: https://github.com/openfga/roadmap/issues/8
**RFC Proposal**: https://github.com/openfga/rfcs/pull/3

[2022-07-13 13:58] adriantam opened #102 "Playground should be enabled by default"
In release v0.1.4, playground was enabled by default.  We want to keep this existing behavior.

[2022-07-13 14:59] #102 closed

[2022-07-13 18:12] jon-whit opened #105 "bug: unauthenticated/unauthorized requests return 500 status code instead of 401/403"
When we introduced authn into OpenFGA we didn't introduce the corresponding API error codes for authn related API errors in [openfga/api](https://github.com/openfga/api), so every 401 or 403 (unauthenticated or unauthorized) ends up returning a 500 (internal) error code.

Steps to reproduce (for example):
[code]

To fix this we need to introduce authn errors into [openfga/api](https://github.com/o

[2022-07-18 18:05] #91 closed

[2022-07-19 01:51] jon-whit opened #110 "feat: add pprof profiling"
The OpenFGA server should be extended to support [pprof profiling](https://pkg.go.dev/runtime/pprof). For more info about pprof see the [official documentation](https://github.com/google/pprof/blob/main/doc/README.md).

This feature should be configurable so that you can enable/disable pprof profiling and the profiler should be served with it's own HTTP server on a configurable host:port address.

[2022-07-19 18:26] #110 closed

[2022-07-25 16:01] dblclik commented on #73
@jon-whit @adriantam - hey all, I (finally) opened up [PR 114](https://github.com/openfga/openfga/pull/114).  I signed the CLA after opening it, so there's a mark in the PR history that it wasn't in place.  It should be good, but the license check workflow can't run until launched by an owner (like the other workflows).  Feel free to fire away with any/all comments and thoughts 🦖

[2022-07-26 03:20] thisisxvr opened #120 "OpenFGA server crashes with `"error":"rpc error: code = Canceled desc = context canceled"`"
## Description
Coming across the `context canceled` error many times over the last couple of weeks and have been unable to resolve it. I’ve tried adjusting the keepalive/timeout settings for the TCP sockets on the client-side. I think it’s unlikely to be the latency between the server and the DB as they are both hosted in the same region, and I have yet to enable replication on the DB. There is al

[2022-07-26 20:07] jon-whit commented on #120
@thisisxvr thanks for reporting this. I'll take a look! In the meantime, if you could upload any step by step instructions that reproduces the issue I would appreciate it 👍 That will help.

[2022-07-26 20:39] thisisxvr commented on #120
Hey @jon-whit. Unfortunately I am not aware of a reliable method to repro this issue. What I can tell you is that I've only seen it happen on a live env (on Azure) — never came across it while running locally. I'm fairly confident that it does not occur when it's just a single user using the service in the env (I have the OpenFGA service wrapped in feature flag, so I can control who is using it).

[2022-07-26 20:56] jon-whit commented on #120
@thisisxvr sounds good. No worries. I think I can track it down with what you've already provided.

Thanks for reporting. I probably won't be able to get around to this today but I will tomorrow. I'll keep you updated here 👍 .

[2022-07-26 23:13] craigpastro commented on #120
Hi @thisisxvr ! Thanks for reporting this issue. I was able to easily reproduce this issue on the code prior to https://github.com/openfga/openfga/pull/113. There was a bug that wasn't releasing a Postgres connection back to the pool which caused pool starvation. It should be fixed in `main`, and we expect to release v0.1.5 very soon. If you can try `main` that would be great. Or please wait for v

[2022-07-27 02:57] thisisxvr commented on #120
Thanks @craigpastro. I've deployed `main` to our env, and it is now in use — I will report back if I run into issues.

[2022-07-27 16:14] rhamzeh opened #123 "Test data should not have emails and should use openfga/openfga as a refrence repo"
- Users in tests such as [here](https://github.com/openfga/openfga/blob/main/server/test/write.go) should drop the `@auth0.com` email (generally we should avoid using emails in test data)
- Repositories in tests can be switched to `repository:openfga/openfga`?

[2022-07-27 16:22] vavsab opened #124 "Release `v0.1.5` has not been released yet"
Hi team. Just found out that docker build in dockerhub is too old. It does not support this section
https://openfga.dev/docs/getting-started/setup-openfga#configuring-the-server

**When are you going to release?**

[2022-07-27 16:41] jon-whit opened #126 "ci(release): fix our CI auto release notes generator"
We need to fix our CI auto release notes generation mechanism so that it can support richer markdown text. The `v0.1.5` release initially failed because it introduced richer markdown text and that introduced issues with bash escape sequences.

Ideally we introduce very few (ideally no) additional dependencies into our tooling to do so, but if it makes it more elegant and easier to manage, then it'

[2022-07-27 16:41] rhamzeh commented on #124
Thanks for raising the issue @vavsab. It's currently blocked until this [PR](https://github.com/openfga/openfga/pull/125) is merged, but that should be happening soon. Expect `v0.1.5` to be out soon.

[2022-07-27 16:58] jon-whit commented on #124
@vavsab we're releasing `v0.1.5` this morning. Sorry for the delay. See #128 . Once that's merged we'll tag and release. I'll close this once it's been released 👍

[2022-07-27 17:06] jon-whit commented on #124
See https://github.com/openfga/openfga/releases/tag/v0.1.5.

Closing this now that it's been released. Let us know if you find anything problematic 👍

[2022-07-27 17:06] #124 closed

[2022-07-27 17:10] vavsab commented on #124
Wow man! You are working at the speed of light! Thanks a lot

[2022-07-27 18:27] rhamzeh commented on #124
Sorry @vavsab, we had an issue in our `v0.1.5` release preventing it from running. We'll be releasing `v0.1.6` with that resolved in a few.

[2022-07-27 18:30] vavsab commented on #124
Thanks. Just was wondering why it's failing to start

[2022-07-27 19:42] rhamzeh commented on #124
@vavsab [v0.1.6](https://github.com/orgs/openfga/discussions/14) is now out

[2022-07-27 19:44] rhamzeh commented on #120
[v0.1.6](https://github.com/orgs/openfga/discussions/14) is now out with the changes included in #113 that would help alleviate this issue.

@thisisxvr thank you for raising this issue. Let us know if this release resolves it for you or not!

[2022-07-27 21:42] #44 closed

[2022-07-28 13:37] vavsab commented on #44
@craigpastro when are you going to create a release for it?

[2022-07-28 13:50] adriantam opened #132 "Invalid tuple deletes not flagged as invalid tuple error"
If I try to delete by writing http://localhost:8080/stores/01G0CECAB4TT41TKN3E7D7J27Q/write with the body

[code]

It only fails due to tuples do not exist.
[code]

Note that when I try to write the same tuples (with no user)
[code]

It will fail with
[code]

Thus, it looks like we validate against write but not read

[2022-07-28 14:16] vavsab opened #133 "is it possible to use playground with auth?"
Is it possible to make playground work with enabled auth?
I'm using preshared keys but [playground is not aware of it](https://github.com/openfga/openfga/blob/e07a89823f049be029f5f4f8551d1feb65d649ff/assets/playground/index.html).

I just get missing token exception on every request
![image](https://user-images.githubusercontent.com/10233442/181526525-06f7c480-4d04-4e59-aa08-a8fc7a400575.png)

[2022-07-28 18:06] jon-whit commented on #133
👋 @vavsab at this time we do not support the embedded Playground with authentication.

We do have on our roadmap a plan to add an authentication input field (or something similar) to allow you to provide a bearer token in the Playground UI. That work will likely be part of a larger effort to open-source the OpenFGA Playground source code though. We will keep you updated with these developments as

[2022-07-28 18:18] vavsab opened #134 "Release migration feature"
Hi team. Is it possible to release this feature?
https://github.com/openfga/openfga/commit/b7d987f12a5e8f093a7eefa52bfddea349c9f966
I'm waiting for it to deploy to my production

[2022-07-28 18:46] rhamzeh commented on #134
Thanks for your feedback @vavsab! It will go out in the upcoming `v0.1.7` release, we will try to get out a small release out with this change today.

[2022-07-28 20:41] craigpastro commented on #44
👋 @vavsab. Sorry for the delay. Need to merge the docs on it https://github.com/openfga/openfga.dev/pull/175, and we will work on pushing it out a new release after that. Thanks!

[2022-07-28 21:17] jon-whit commented on #120
@thisisxvr did the `v0.1.6` release resolve your issue? If so, do you mind if we close?

[2022-07-28 22:59] thisisxvr commented on #120
I've had `main` running for nearly 48 hours now with no issues — which is the longest I've seen without this error popping up, so I'm happy to consider the issue resolved. Thanks very much @jon-whit and @craigpastro for the quick resolve 🙌.

[2022-07-28 22:59] #120 closed

[2022-07-28 23:00] jon-whit commented on #120
No problem! Thanks for reporting and for following through with confirmation of the fix. We appreciate it!

[2022-07-29 13:03] vavsab commented on #134
Take your time. [Made a fork](https://hub.docker.com/r/mapped/openfga) to unblock myself. Thanks for the nice migration feature!

[2022-07-29 13:03] #134 closed

[2022-07-29 19:18] dblclik commented on #123
@rhamzeh - I can take this chore/issue 👍

[2022-07-29 19:51] rhamzeh commented on #123
Thanks for taking this on @dblclik!

[2022-07-29 21:19] #132 closed

[2022-08-01 18:07] #123 closed

[2022-08-03 11:58] rhamzeh commented on #134
@vavsab [v0.1.7](https://github.com/orgs/openfga/discussions/15) that was released last Friday now includes this feature. Thank you for being patient with us!

[2022-08-03 12:28] vavsab commented on #134
@rhamzeh  Thanks. Already switched and using it. Works good

[2022-08-03 22:32] jon-whit commented on #133
@vavsab we now have support for preshared key authentication in the OpenFGA embedded Playground. If you pull down the main branch it's supported. It will be included in our next most release. I'm closing this now that it's supported. If you find any issues with it, please don't hesitate to reach back out 👍

[2022-08-03 22:32] #133 closed

[2022-08-04 03:22] vavsab commented on #133
Thanks a lot 🥰

[2022-08-06 14:25] ghstahl opened #150 "Documentation: organization-context-authorization needs improving"
https://openfga.dev/docs/modeling/organization-context-authorization

The documentation for organization-context-authorization doesn't honor its Step-by-Step.
Please add Step-by-Step so that a toddler could follow along and successfully get to the end.

There is a lot of assumptions being made in this guide.

[2022-08-07 15:11] ghstahl opened #151 "Feature Request: Playground should have export and import of a model, tuples and assertions"
It is easy enough to copy the authorization model, but I can't copy the tuples or assertions.

It would be nice to export the entire store, within reason, when modeling.  i.e. put a limit on the number or tuples and assertions allowed.

This would let me import it into a developer docker instance of openFGA

The import should also be exposed as an api so I can seed openFGA easily for unit tests an

[2022-08-08 15:11] ghstahl opened #152 "ContextualTuples don't seem to work"
## Code Version

github.com/openfga/go-sdk v0.0.1
image: "openfga/openfga:v0.1.7"

## Tutorial

[organization-context-authorization ](https://openfga.dev/docs/modeling/organization-context-authorization)

[code]
## queries

[code]

I wish I could export all the tuples, but they are exactly what the tutorial had.

I purposefully put garbage tuples in for my context.
```Object:   fgaSdk.PtrString(uu

[2022-08-08 15:53] jon-whit commented on #152
@ghstahl is there any way you could distill the problem down to a smaller reproducible example with a sample dataset? It's hard to troubleshoot exactly what the issue may be since there are no relationship tuples provided as a sample dataset. If you could get me at least a sample dataset that would be helpful.

[2022-08-08 16:05] rhamzeh commented on #152
Thanks for reporting @ghstahl!

There are definitely a few issues here.

1. `Object:   fgaSdk.PtrString(uuid.New().String())` is not a valid object and we _should_ have returned a 4xx error. We'll tackle this.

2. It seems like you had `is anne related to project:X as can_delete?` as `true` originally without using the contextual tuples. That is consistent with the API response.
I'm curious, what

[2022-08-08 16:40] ghstahl commented on #152
# StandAlone Test

1. Create store, name it ```issue152```
2. Add the following Model
[code]
4. Add the following tuples.
This is straight from the following [tutorial](https://openfga.dev/docs/modeling/organization-context-authorization)

there is an error in the documentation.   Beth needs to be added to org:B as a project_manager.

I added these by hand in the playground.

[code]
6. playground

[2022-08-08 17:18] ghstahl commented on #152
I'm curious, what was your expectation?
```Yes``` I expect this to be the case, because it is accurate under this context.

I fixed the invalid object with the same result.
[code]

[2022-08-08 19:00] ghstahl commented on #152
I can also reproduce this just using postman

##Request
[code]
## Response
[code]

[2022-08-09 15:18] rhamzeh commented on #152
Looking at the tuples you posted, it seems that the last tuple may be the issue you have:

[code]

This means that OpenFGA will always treat anne as user_in_context of organization:A

Which may be why you are getting true instead of false.

When you are passing the following as a contextual tuple, it is _in addition_ to whatever other tuples already exist and will not replace them:
[code]

[2022-08-09 16:06] ghstahl commented on #152
given this tutorial [organization-context-authorization](https://openfga.dev/docs/modeling/organization-context-authorization)  it has a final Model that added user_in_context to the organization.

[code]
It instructs me to make a relationship between anne and organization:A  as user_in_context.

[code]

then follows up by asking if anne is in the org
[code]

This all makes sense to me on the surf

[2022-08-09 22:40] rhamzeh commented on #152
In the final step [Using Contextual Tuples](https://openfga.dev/docs/modeling/organization-context-authorization#using-contextual-tuples), it is describing the problems of what was done in the previous step (writing the tuple), but it does not expressly indicate that the previously written tuple from the previous step should be deleted.

Sorry about that and the confusion it caused. We'll fix it w

[2022-08-09 23:51] ghstahl commented on #152
Ok got it to work by deleting ```is anne related to organization:A as user_in_context?```

When I had that relationship, it completely made sense to me that it should work, but no!  More importantly I felt I could easily explain the concept of context.

I am imagining having to explain this to someone new in a year and this is how it goes.

Me >   So you see, you have to add ```anne is a project_m

[2022-08-11 21:28] #101 closed

[2022-08-12 19:39] rhamzeh opened #163 "Migrate does not respect the same configuration methods as openfga"
## To Reproduce
[code]

## Expected Result(s)
- An error connecting to postgres if postgres is not running or the uri is invalid
- A successful migration

## Actual Result
- Complaint about datastore params not being passed
<img width="1213" alt="Screen Shot 2022-08-12 at 3 22 49 PM" src="https://user-images.githubusercontent.com/536147/184431181-6d55afc8-d290-4095-8a12-5847e037851c.png">

[2022-08-16 13:28] #152 closed

[2022-08-16 13:39] ghstahl opened #170 "Playground lint problem"
There is a possible lint problem in the playground.
[code]

## No Problem
[code]
## Problem
[code]
[code]
The complaint is on the ```type permissions```, where it says that ```access``` doesn't exist from that ```associated_feature```.
access does exist in the ```type feature```.

Oddly enough, if you replace ```access``` with ```member``` in both ```type feature``` and ```type permission``` it ha

[2022-08-16 14:04] rhamzeh commented on #170
Thanks for the report @ghstahl. Taking a look!

[2022-08-17 20:59] tnipri opened #176 "bug: open fga crashes for no apparent reason"
Hey,

I'm using open fga using docker (I'm using the latest version - 0.2.0). The docker works fine, but after some time - sending a request to openfga (using SDK) returns a 500 error with the following message:
`"FGA API Internal Error: post check : Error Internal Server Error"`

Logs from docker container:
`2022-08-17T20:55:47.861Z        ERROR   grpc error      {"error": "rpc error: code = Unkn

[2022-08-17 21:14] elbuo8 commented on #176
Could you share the request payload?

[2022-08-19 05:29] mmrath opened #179 "Store ULID as 128 bits instead of TEXT"
I might be missing some context, but just wanted to check anyway. I think it would be efficient to keep 128 bits instead of keeping the string representation. Something like a snowflake id is probably even better.

[2022-08-21 09:19] NexZhu opened #182 "feat: support batch checking in the "check" API to save roundtrips"
Currently `/stores/{store_id}/check` API only support checking one tuples per request, could you support batch checking in the `check` API to save roundtrips when the app has multiple tuples to check at the same time?

[2022-08-24 23:48] jon-whit commented on #176
@tnipri Ill dig into this more tomorrow and try to reproduce. Could you at least share the model and the relationship tuples that you produce the issue with? That would help a lot.

[2022-08-26 12:52] aaguiarz commented on #182
Hi @NexZhu

Thanks for the feedback. We are considering doing a SDK-level implementation of batching first, where we could execute requests in parallel.

How would you expect an API for batch checks to behave?

Thanks!

[2022-08-26 18:03] jon-whit opened #189 "bug: validate type and relations in userset values"
Given the following authorization model:

[code]

I can write the following relationship tuple `Write("document:doc1", "viewer", "group:engineering#member")`.

I shouldn't be able to do this because the `group` type does not exist in the authorization model.

[2022-08-26 19:29] #163 closed

[2022-08-26 20:34] #105 closed

[2022-08-26 20:43] craigpastro opened #190 "Errors should all use the go-errors package"
And, if such exists, add a linter to ensure it is the case going forward.

[2022-08-27 00:08] miparnisari commented on #176
Also, what storage are you using? `memory` or `postgres`?

[2022-08-27 02:45] tnipri commented on #176
Thanks @jon-whit. Here is the model as taken from openfga playground:

type organization
  relations
    define can_change_owner as owner
    define can_delete_organization as owner
    define can_delete_user as owner
    define can_invite_user as owner
    define can_read as owner or member
    define can_read_members as owner or member
    define member as self or owner
    define owner as self

[2022-08-27 03:01] tnipri commented on #176
@jon-whit forgot to add the relation tuples. It's super basic:

user: user:9
relation: owner
object: organization:14

user: organization:14
relation: parent_organization
object: user:9

[2022-08-27 09:52] NexZhu commented on #182
Well I've wrap the SDK like that for my usage for now, but batching in one HTTP request wil be better. I think API for batch checks can simply take an array of tuples and return an array of results in the same order.

[2022-08-28 17:30] jon-whit commented on #176
@tnipri Using `v0.0.2` of the Javascript `@openfga/sdk` and with the authorization model and tuples above, I cannot reproduce on `v0.2.0` of the OpenFGA server.

To further troubleshoot the issue you are seeing, would you please provide a video screen capture using QuickTime or something similar to demonstrate the issue you are seeing?

Additionally, what OS and version of the OS are you running?

[2022-08-30 14:28] #190 closed

[2022-08-31 17:20] rhamzeh opened #207 "Dockerhub page missing README"
The dockerhub page (https://hub.docker.com/r/openfga/openfga) does not have a README because we push our own builds.

We should add pushing the README to dockerhub in our release action, e.g. using something like: https://github.com/peter-evans/dockerhub-description.

<img width="1294" alt="Screen Shot 2022-08-31 at 1 20 09 PM" src="https://user-images.githubusercontent.com/536147/187740430-c34f08

[2022-08-31 17:36] miparnisari commented on #176
@tnipri would you mind pulling the latest version of the Docker image? It should log more details about the internal server error. Thank you!

[2022-09-06 21:39] craigpastro opened #217 "Add govulncheck (vulnerability detection) to CI"
See https://go.dev/blog/vuln.

[2022-09-07 20:27] #73 closed

[2022-09-09 06:00] OysteinVesth commented on #176
We are experiencing the exact same issue using this image `openfga/openfga:v0.2.1`. It works for a while then suddenly stops, I can make it start again by calling the `/stores` endpoint a few times. I think I actually got an `Deadline passed` message from the server, but have to wait until the next time it fails to be sure.

From the logs:
[code]

[2022-09-10 01:46] craigpastro commented on #176
Hi @OysteinVesth ! Thanks for the report. We had a bug where we were not properly logging the internal errors so it is quite difficult to figure out what is going on. A [fix](https://github.com/openfga/openfga/pull/222) has been merged to main today, and we'll try to cut a new release soon. If it is possible to use main then that may help to track down what is happening.

What this sounds like (an

[2022-09-10 07:35] OysteinVesth commented on #176
Thanks for the response @craigpastro! We are using Aurora serverless for our postgres db, so that is probably the case.
Is this expected behavior? Is there any way we can mitigate it?

[2022-09-11 18:10] craigpastro commented on #176
Hi again @OysteinVesth. So a couple of us were able to reproduce this behaviour using serverless Aurora. Thanks again for bringing it to our attention.

I did some reading and what I think is happening is that after OpenFGA does something it will return the connection to the pool. After some time Aurora will close the connection, then when OpenFGA tries to use that connection again it ends up with

[2022-09-12 14:14] tnipri commented on #176
Hey @miparnisari and @jon-whit , sorry for the delay - this issue happens randomly. I upgraded to 0.2.1 like you asked:

`starting openfga service...  {"version": "v0.2.1", "date": "2022-08-31T01:31:16Z", "commit": "2dfe665dbd8889c138cfa75c13b960d06e535876", "go-version": "go1.18.5"}`

The logs from the crash looks similar to the previous one:

`2022-09-12T13:43:32.155Z        INFO    db_stats

[2022-09-12 16:11] craigpastro opened #226 "The stacktrace when OpenFGA errors is not useful"
When something causes OpenFGA to error we receive a stacktrace that looks like the following:
[code]

(This is the stack trace that came from a "failed to connect to Postgres" error.) This is not very useful. Can we do something to improve this?

[2022-09-12 23:18] craigpastro commented on #176
Hi @tnipri ! Sorry about that, but I think the logs we have in 0.2.1 are not sufficient to see what exactly the problem is. Are you able to run the main branch where we have improved logging? If not we are planning a new release in the very near future.

In the meantime can you give me a bit more detail about how you are running OpenFGA. In particular, how are you running Postgres and what version

[2022-09-13 07:12] OysteinVesth commented on #176
I might look into the last one @craigpastro.
The problem kind of fixed itself. I had forgot to add readiness/liveness probes to the OpenFGA pod. These ping the postgres db, so now it never reaches the 10 min `auto_pause` limit we've set in Aurora.

Anyway, thanks you so much for the detailed response!

[2022-09-13 20:33] tnipri commented on #176
I'm deploying openfga using docker, so I have to wait for a new version to give more accurate logs

I'm using postgres latest version (14), also deployed using docker.

1. It suddenly happens after an idle period.
2. All subsequent requests also fail. You are correct - only by restarting I can get it working again

Let me know if you need anything else!

[2022-09-14 16:26] jon-whit opened #235 "bug: conflicting authorization models cause unexpected errors"
Consider the following two authorization models.

**model1**
[code]

**model2**
[code]

The following writes are allowed by OpenFGA.
[code]
But, when evaluating `Check(document:doc1, viewer, someuser, model1)`, I get a `400 Bad Request` error with message
[code]

I would expect a 200 OK with `{"allowed": false}`, because the Check is issued as of model1 and the 'team' type definition does not pert

[2022-09-14 17:53] craigpastro commented on #176
Hi @tnipri ! I tried to replicate this by running Postgres:14 in a container with
[code]
then running OpenFGA from the binary so I could get the new logs, but so far with no luck. Is there anything else you could add about your setup that would help? Sorry for asking so much.

Hopefully, we will cut a new release today, so if you could try that again after and report back that would be great!

Tha

[2022-09-16 21:10] craigpastro commented on #179
Oh my goodness! Sorry for the delay in response.

The reason that we use ulids is that they are sortable (similar to snowflake ids). This is important for our continuations tokens. We have some queries of the form `ulid > someulid`.

Do you know if the byte representation of a ulid is sortable? If so, then yes, this could be a nice optimization.

Thanks for your comment!

[2022-09-22 15:30] craigpastro opened #248 "Update WriteAuthorizationModel, ReadAuthorizationModel, etc. tests to use the relation types"
Currently, all our tests around authorization models are using the 1.0 version. Update them to use the 1.1 versions.

[2022-09-22 23:26] miparnisari opened #250 "Read API: "type not found" is thrown when in fact the authorization model id was not found"
To reproduce:

1. Create an authorization model

[code]

2. Call read with an incorrect auth model id

[code]

You get this:

[code]

But I expected "auth model id not found"

https://github.com/openfga/openfga/blob/7cbd9aadf38cc2c722f176c02969bd5fa6b2ee55/server/commands/read.go#L91-L94

[2022-09-23 21:28] mmrath commented on #179
Yes the binary representation of ULID are sortable.

[2022-09-24 14:49] craigpastro commented on #179
Interesting. Thanks! We'll try to check it out. Or, of course, we welcome PRs!

[2022-09-25 10:37] tnipri commented on #176
Hey @craigpastro , I don't know what's causing this issue. I updated the version and here are the new logs (it happened again):

[code]

[2022-09-25 18:04] craigpastro commented on #176
Hi @tnipri. This is very helpful! It seems like you are expenriencing the same problem as @OysteinVesth did above. One thing that you can try is, in your Postgres connection string, set the max connection lifetime to be quite short. Perhaps 5 minutes or so. You can do this by adding `?pool_max_conn_lifetime=5m&pool_max_conn_lifetime_jitter=1m` to your connection string.

Alternatively, now that pg

[2022-09-27 15:56] jon-whit opened #254 "telemetry: add an OpenTelemetry metric exporter to export telemetry information"
The OpenFGA server captures OpenTelemetry metrics but we currently do not export them. We should add a metric exporter so that developers can hook up an OpenTelemetry collector to collect the exported metrics.

[2022-09-29 11:18] MidasLamb opened #258 "WriteRequest Write is not idempotent"
It would be nice that sending the same write request twice would result in the same outcome. However for the second call, the SDK will return an error saying that
[code]
However, as a user I'd expect this call to succeed as the desired end state is that the tuple exists, so if it already exists before I make the call, this is essentially a no-op to end up in the desired end state, rather than a fa

[2022-10-03 15:48] jon-whit opened #260 "Wildcard's involved in a tupleset relation of a TupleToUserset rewrite don't get evaluated"

[2022-10-03 16:08] #260 closed

[2022-10-03 16:16] craigpastro commented on #258
Hi @MidasLamb! The reason for this behaviour at the moment is due to the watch API. The watch API is meant to be an ordered history of tuples that have been added and deleted. The first time you add a tuple it will be reflected in the watch API. What should happen the second time the same tuple is added? It probably shouldn't be added to the watch API again as it is not really being added to OpenF

[2022-10-04 21:55] craigpastro commented on #250
Does it even make sense that we are validating the tuple on read? What if I want to read tuples which do not validate against the current model so I can delete them?

[2022-10-05 18:10] miparnisari commented on #250
We are not validating tuples on read. We're only validating the input tuple.

[2022-10-05 19:02] craigpastro commented on #250
I understood we are validating the input tuple on a read request. So I was wondering if we should be doing that?

[2022-10-06 18:26] craigpastro commented on #176
Hi again @tnipri ! Are you still seeing crashes? We released v0.2.3 today https://github.com/openfga/openfga/releases/tag/v0.2.3, which updates the pgx library to v5 which may be a fix for the bug you are seeing. If you get a chance to run it, please let us know if it solved your problem. Thanks!

[2022-10-10 19:26] rhamzeh opened #274 "Latest release (v0.2.3) is crashing when http or grpc add is provided in configuration"
Removing these two configs (`OPENFGA_HTTP_ADDR` and `OPENFGA_GRPC_ADDR`) allows the service to start.

The configuration is passed through docker compose, like so:

[code]

Note: This used to work on `v0.2.2`

### More info
- Run through: official docker image & docker-compose
- OpenFGA version: `v0.2.3`

### Logs

[code]

Reported by @ghstahl

[2022-10-10 22:27] #274 closed

[2022-10-11 14:47] jon-whit commented on #274
@ghstahl this should be fixed now on the `main` branch. Our next release will include it.

[2022-10-12 09:44] tnipri commented on #176
thanks @craigpastro I've been running the new version for couple of days now - so far without exceptions!

I will post here in case I encounter anything else. Thanks again for this tool!

[2022-10-12 15:01] craigpastro commented on #176
Hi @tnipri, that’s great to hear. Seems like upgrading to pgx fixed the problem. Thank you for bringing it to our attention!

I’ll close this issue for now, but please reopen it if you encounter it again. Thanks!

[2022-10-12 15:01] #176 closed

[2022-10-12 15:21] jon-whit opened #277 "generate dot graph visualizations for authorization models"
Given an authorization model `*openfgapb.AuthorizationModel` generate a dot graph representing the direct and indirect edges in the graph of relationships.

In our `graph` package we can parse the model and export a digraph structure using https://github.com/emicklei/dot, for example:

[code]

Then we can use the Digraph structure and print it out and run it through https://dot-to-ascii.ggerganov.

[2022-10-13 14:47] jon-whit opened #280 "add tracing and telemetry instrumentation to ConnectedObjects API"
Once #279 is merged we should create a subsequent PR to add appropriate tracing and telemetry instrumentation to the internal ConnectedObjects API.

[2022-10-14 03:25] jon-whit opened #282 "register grpc request context tags middleware to inject common context"
It'd be nice to use the [`go-grpc-middleware/tags`](https://pkg.go.dev/github.com/grpc-ecosystem/go-grpc-middleware/tags#pkg-overview) package to register a middleware that injects things like the request `store_id`, `authorization_model_id`, etc.. into the request context. Then we can use the injected tags in the request context in our logging and telemetry  throughout the app.

Something like

[

[2022-10-15 16:41] razorness opened #284 "TLS certificates config path mismatch"
In [config schema](https://github.com/openfga/openfga/blob/main/.config-schema.json) is this config path described: `grpc.tls.cert` and `grpc.tls.key`. Neither runtime flags `--grpc-tls-cert`/`--grpc-tls-key` nor yaml configs `grpc.tls.cert` and `grpc.tls.key` are read correctly.
Mismatch is done by:

https://github.com/openfga/openfga/blob/0999404bfb1ef7846b2ca12469ef049cb6c6f8e9/pkg/cmd/service/

[2022-10-17 17:26] #284 closed

[2022-10-19 22:53] ghstahl opened #300 "Sporadic authorization_model_resolution_too_complex error"
Docker on Windows
OpenFGA v.0.2.2

I have a reproducible model, [dataset](https://github.com/openfga/openfga/files/9824865/complex_error_reproducible.zip), and check that gives me the following sporadic error;
[code]

I make the following Check call via POSTMAN
[code]
or Curl
[code]

My Authorization Model
[code]
[complex_error_reproducible.zip](https://github.com/openfga/openfga/files/9824865/com

[2022-10-19 22:55] rhamzeh commented on #300
Thanks for raising this issue!

[2022-10-20 08:29] jaredzhou opened #301 "list objects with filter"
after reading [Search with Permission](https://openfga.dev/docs/interacting/search-with-permissions), i find it is nature to use `Build A List Of IDs, Then Search` pattern in some senario, but if the number of objects is too big, that's not practical. and i wonder can we add some kind of filter for `GET /list-objects`, so we can use this pattern for wide. for example, the model
[code]
if i want to

[2022-10-20 15:18] jon-whit commented on #301
I understand what you're trying to do, but my initial gut reaction is that this would be quite difficult and nuanced. In the scenario you gave the relations are direct relations, but what if the relation the developer wants to filter by is not a direct relation (e.g. it involves rewrites other than `as self`). There is some complex nuance to this, and I think it warrants more discovery and researc

[2022-10-20 15:54] jaredzhou commented on #301
thank you for the response. i don't think we need to support the filter like `check` that indirect relation and rewrite involved, at least not a must.  users just need to add some object-to-objects relations to be used like tags to some objects, and it even can be nothing to do with auth check, when query the `GET /list-objects` api, it can be simply filtered by tags and reduce the number of retur

[2022-10-20 16:03] jaredzhou commented on #301
i have not reading the code details, but for my understanding, it's like the intersect result of two sets. the origin object ids set and   the filtered object ids set which only produced by direct object-to-object relations

[2022-10-20 22:31] jon-whit commented on #300
👀 I think the issue may be related to the resolution context sharing resolution depth across concurrent paths of eval. Let me double check my hypothesis and get back with you. I think I may have a fix.

Good catch!

[2022-10-21 02:41] ghstahl commented on #300
I now have a 100% reproducible case in my unit tests.  Let me know if you need that data set.

[2022-10-23 19:04] mango009 opened #304 "side effect of contextual tuple"
There are two issues of contextual tuple I discovered. Below is my model:

[code]

And I populate the model with the following relation:

[code]

It's apparent that `user:anne` has a `can_download` relation with `artifact:doc1`. And this can be verified with a `check` API. However, if I add a contextual tuple to the request in the body:

[code]
The returned response is `false`. Is this an undesira

[2022-10-24 04:36] rhamzeh commented on #304
Hi @mango009 👋🏽

1. Did you verify that your checks are working without the contextual tuples? I tried to check them here and they were (correctly) returning false.

The reason they are returning false is that in the checks you are forgetting the `user` type. It should be:

[code]

Tried reproducing on the FGA Playground: https://play.fga.dev/stores/create/?id=01GG41ZGQZD6GMDBM84RK2FG49

[code]
re

[2022-10-24 15:02] jon-whit commented on #300
@ghstahl please share it with me if you can 👍 . I'm going to work on resolving this issue in the next few days.

[2022-10-25 03:45] jon-whit commented on #301
I'm not sure I understand what you mean here. Relationships in OpenFGA don't have a tagging/metadata mechanism like you are describing, but rather the relationships themselves establish connectivity between objects in the graph of relationships. Maybe you could provide a more clear example that demonstrates the situation (with tuples etc..)?

In your original example you mentioned filtering the se

[2022-10-25 15:08] ghstahl commented on #300
## OpenFGA
image: "openfga/openfga:v0.2.4"

## OpenFGA go sdk
github.com/openfga/go-sdk v0.1.1

## VSCODE
[code]
## GO
[code]
I love these types of reproducible tests.  If I run it using  ```go test ./...``` it fails every time with the complex error.
I am hammering the openfga server with writes followed by Read(s) and Check(s)

So, I set a break point where the error occurred.  Error being the c

[2022-10-25 15:25] #250 closed

[2022-10-25 17:00] ghstahl opened #313 "[Playground] The "COPY AS FRIENDLY DSL" button in the playground doesn't give me the newly saved DSL"
The "COPY AS FRIENDLY DSL" button in the playground doesn't give me the newly saved DSL

1. Create a new Store
2. Copy the DSL using the "COPY AS FRIENDLY DSL" button
[code]
3. Added and SAVE a new type "dog"
[code]
4. "COPY AS FRIENDLY DSL" returns the following, dog is missing;
[code]

Copy as JSON works
[code]

[2022-10-25 19:17] ghstahl commented on #300
New data set
This one happens every time.

[complex_error_repo_2.zip](https://github.com/openfga/openfga/files/9863308/complex_error_repo_2.zip)

[2022-10-26 19:55] fschulte-eiwa opened #314 "[Bug] OpenFGA returning 500 on ListObjects"
Hello, we are testing OpenFGA for a project and had some issues with the list_objects (normal) endpoint. Not missing data but server error.
Our tested model is as follows:

[code]

Server setup as the documentation shows for postgres engine:

[code]

First we added a user as admin of an organization ORG1: `{"user": "user_1","relation": "admin","object": "organization:ORG1"}`

We then performed 600

[2022-10-27 02:54] jaredzhou commented on #301
yes, this is exactly what i mean. i described it as tags but implemented by object-to-object relationships.  considering the complexity for implementing indirect relations for filtering. i think just filtering by direct object-to-object relationship maybe easier to do. for usage, users can insert the object-to-object relationships for particular usage. e.g. insert parent-child file relationship fo

[2022-10-28 04:40] jon-whit commented on #314
@fschulte-eiwa could you please build/run the `main` branch and confirm if this has been fixed with #315?

[2022-11-01 15:45] jon-whit commented on #314
@fschulte-eiwa awesome! These changes will go out in our next release `v0.2.5`. Keep an eye out for that release notice. It'll probably be coming soon.

[2022-11-01 15:45] #314 closed

[2022-11-04 16:19] wma1729 commented on #314
Do you have a date on when `v0.2.5` is coming out? I am trying to evaluate openfga and this one is a blocker.

[2022-11-04 16:41] jon-whit commented on #314
@wma1729 we'll cut the `v0.2.5` release next Monday. Keep an eye out for the announcement.

[2022-11-07 23:19] ghstahl opened #337 "[enhancement] A richer READ query for tuples"
I am finding that the current Read Api is too broad in its results.
If the tuples are simple, it ok, however for more complex objects (complex by convention) it isn't ironically fined grained enough.

I have objects that look like the following.

```permission_group:{{org_id}}/blah/something/else```

Doing a Read, I can retrieve objects at the ```permission_group:``` scope.  This gives me too many

[2022-11-08 12:53] jaymcguinness opened #338 "Running locally tries to reference play.fga.dev causing CORS errors"
Hi,

Just trying to run locally via Docker and am getting this:

![image](https://user-images.githubusercontent.com/11387911/200567576-545cf7bb-584b-43e5-8d91-347658503711.png)

[2022-11-08 14:24] adriantam commented on #338
Hello @jaymcguinness , thank you for reporting this issue.  We are not able to reproduce the CORS error with (`docker run -p 8080:8080 -p 3000:3000 openfga/openfga run`).  Can you provide more details on how you run the docker?  Thank you.

[2022-11-08 14:44] jaymcguinness commented on #338
Replicated in docker on both Windows and Mac, but I think the CORS error is a red herring.

[2022-11-08 15:17] jon-whit commented on #300
@ghstahl I was taking a look at this yesterday and noticed a lot of tuples such as

[code]
Out of curiosity, what use case(s) do you have to use the `*` character as an object identifier (e.g. `plan_repo:*`)? We're considering making the wildcard character a reserved character and disallowing it in the object id component (`type:id`). When you write `write(plan_repo:*#plan@plan:*)` what does that

[2022-11-08 17:14] ghstahl commented on #300
```*``` represents my global entity that represents a place where I put all my users, all known plans, etc.

***it's just a shortcut for "my_company"***

imagine a github.com user vs that same user also being a member of an org.

A user can be added to an org.
However, there is a chain up check where the user must also exist in the global ```user_repo:*```
An org can have a plan, but that plan mus

[2022-11-08 17:43] jon-whit commented on #300
Ok, so if we were to restrict the `*` character from being an acceptable object id then you'd just have to change things to `plan_repo:my_company` instead of the shorthand `plan_repo:*`. Do I understand that correctly? If so, is that prohibitive for you in any way or does that make sense?

We're trying to avoid allowing developers to write the `*` character for an object id because it can cause co

[2022-11-08 18:21] ghstahl commented on #300
I can work with that

[2022-11-08 19:33] #217 closed

[2022-11-08 23:43] rhamzeh commented on #338
Yep! That's the main problem why we need this.

At the moment we allow localhost:3000 explicitly on play.fga.dev.

Unfortunately until we do open source it, we cannot bundle it in with the openfga service and it is just an iframe that points to the live playground.

We have CORS enabled to prevent another site having play.fga.dev in an iframe, which would then provide a risk of them accessing your

[2022-11-08 23:48] rhamzeh commented on #338
In your case here though the CORS is not from the playground, but from the OpenFGA server.

May I ask that you show us the network tab and the logs from OpenFGA?

Also (and I'm sorry to be asking this) but can you confirm that nothing else other than OpenFGA is running on port 8080?

(If there was another service running, you might see this issue).

Finally, can you share your browser versions? Ma

[2022-11-09 09:57] jaymcguinness commented on #338
Totally understand about the Playground not being OSS yet - I think the fact that any of this is OSS is great 😄.

And to be honest I can work around it - making API calls via a client works just fine and I can copy/paste my auth model to the real playground to test things out.

Sorry, not 100% sure which logs you need? Browser network/logs or Docker? Which site? I can hit http://[127.0.0.1:8080/st

[2022-11-10 23:44] #235 closed

[2022-11-12 14:58] craigpastro commented on #258
Hi @MidasLamb. Just following up here. We decided to go ahead with what you suggested by make a duplicate write a noop. No changes to the tuple table, nor the changelog table, and no error.

If you have a sec, could you please confirm whether the MySQL implementation looks sane? I went with the “on duplicate key update store=store” approach. Thanks!

By the way, what do you think about the same be

[2022-11-15 03:13] miparnisari commented on #189
@jon-whit This only applies to 1.1 models, correct?

[2022-11-17 08:13] MidasLamb commented on #258
@craigpastro , I've checked the PR and it looks good!

I think for deletes having a noop would be a good approach as well. From a DX point of view, most devs would be concerned with the state after their API calls. I'd also consider the watch API to be for the "more advanced user", so moving the "caveats" there makes more sense IMO

[2022-11-18 15:15] adriantam opened #352 "Incorrect build instruction in README.md"
The current README suggests that building openfga involves

[code]

However, there is no `cmd/openfga/openfga.go`.  Instead, it is `cmd/openfga/main.go`

Instead of asking user to run `go build`, we can ask them to run `make build` for which we already configure the filename and output binary name.

[2022-11-18 15:47] #352 closed

[2022-11-18 22:20] rhamzeh opened #354 "ListObjects returning IDs not from the chosen type when contextual tuples are involved"
To reproduce:

[code]

With the following tuples:
[code]

Note that this issue does not appear when the relation definition is `define viewer as self or allowed` or `define viewer as self`, and it would appear if the relation definition is `define viewer as self and allowed`

To try this out, the sample store: https://play.fga.dev/stores/create/?id=01GJ41921A4W4A3DCN9A5JQEJ8

[code]

Thanks to Sur

[2022-11-18 23:02] miparnisari commented on #354
I think the root cause is this

[2022-11-19 20:43] craigpastro commented on #258
Thanks for taking a look, @MidasLamb!

[2022-11-19 21:08] aaguiarz commented on #258
Hi Midas!

After some discussion, we decided to not to move forward with this change for now. This change might have an adverse effect depending on the underlying database and how it manages transactions.

While we decided it to shelve it for now, in the future we’d like to work on an alternative that would provide a better dev experience without removing the consistency protections this currently

[2022-11-20 14:20] MidasLamb commented on #258
Hey @aaguiarz, I think for the production applications, having that logic for ignoring duplicates could help with reducing latencies. Currently if you want to ignore duplicate writes, you're forced to something along the lines of:
* Forego batching, send each tuple separately in a write request, that way the duplicates will fail without preventing the other ones from saving, and you can inspect th

[2022-11-23 22:42] loicsikidi opened #361 "[Feature Request] Get all relationships a user X has on object Y"
Hi,

After a thorough reading of the documentation, especially [Relationship Queries](https://openfga.dev/docs/interacting/relationship-queries), it seems that it's not currently possible to answer the following question (at least) in a single request:

`What are the relationships (directs & indirects) a user X has on the object Y?`

If my affirmation is valid, it would be nice to support this fea

[2022-11-24 15:58] andreadistefano opened #362 "AND and BUT NOT operators are currently not supported on this graph"
Hi!
I'm trying to implement a model with [Blocklists](https://openfga.dev/docs/modeling/blocklists) on different levels of my hierarchy, in order to define something like:
[code]

I tried with a model like this:
[code]
Unfortunately, the playground wouldn't let me save my model, and all the `but not deny` were marked as syntax errors.

So I tried to be smart and changed my model to this:
[code]

N

[2022-11-28 18:03] rhamzeh opened #365 "ListObjects: Errors are being swallowed"
Tested with: `v0.2.5`, ran through docker.
Tests:

[code]

In all these cases, the response was:
[code]

Internally, GRPC errors were being (sometimes) thrown and swallowed
[code]